.site-footer {
    background: $dark-gray;
    padding: 30px 0;
}
.footer__content {
    background-image: url( '/dist/images/logos/bks_icon.svg' );
    background-repeat: no-repeat;
    background-position: 20px 0;
    background-size: 60px 60px;
    padding-top: 60px;
    @include large-phone {
        padding-top: 0;
    }
    @include tablet {
        background-position: 30px 0;
    }
    @include desktop {
        background-position: 40px 0;
    }
    .footer__menu {
        .menu__item:nth-child( n + 4 ) {
            order: 3;
        }
        &:before {
            content: '';
            height: 0;
            flex: 1 1 100%;
            order: 2;
        }
        @include large-phone {
            padding-left: 80px;
            justify-content: flex-end;
            margin-left: auto;
            margin-top: 0;
        }
        @include desktop {
            margin-top: 20px;
            &:before {
                content: none;
            }
        }
    }
    .footer__social {
        @include medium-phone {
            margin-right: 16px;
        }
    }
    .footer__copyright {
        margin-left: auto;
    }
}

.copyright {
    text-align: right;
    margin-bottom: 6px;
}
