@import "../sass-setup";
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__link {
    text-decoration: none;
    display: block;
}

// primary
.menu--primary {
    border-top: 1px solid $gray;
    border-right: 1px solid $gray;
    @include desktop {
        border: none;
    }
}
.menu__item--primary {
    box-sizing: border-box;
    border-left: 1px solid $gray;
    border-bottom: 1px solid $gray;
    background: $off-white;
    @include desktop {
        flex: 0 0 auto;
        border: none;
        background: none;
        &:first-child {
            margin-left: auto;
        }
    }
}
.menu__link--primary {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    line-height: 1;
	letter-spacing: 1px;
    @include desktop {
        padding: 0;
        margin: 10px 12px;
        .menu__item:last-child & {
            margin-right: 0;
        }
    }
}

// footer
.menu--footer {
    margin: 20px -10px;
    width: 100%;
}
.menu__item--footer {
    margin: 5px 10px;
    @include large-phone {
        &:first-child {
            margin-left: auto;
        }
    }
}
.menu__link--footer {
    text-transform: uppercase;
}

// Social
.menu--social {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 280px;
    @include large-phone {
        margin-bottom: 0;
    }
}
.menu__link--social {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid lighten( $dark-gray, 9% );
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    &::before {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 50px;
        text-align: center;
        text-indent: 0;
    }
}

// Sitelinks
.menu--sitelinks {
    margin: 0 -6px;
}
.menu__item--sitelinks {
    margin: 0 6px;
    &:first-child {
        margin-left: auto;
    }
}
