$black         : #000000;
$white         : #fff;
$off-white     : #F6FAFD;
$light-gray    : #F4F5F7;
$another-gray  : #EAECF0;
$gray          : #D6D8DD;
$dark-gray     : #696969;

$accent        : #F15726;
$primary       : #4BB5C4;
$light-primary : #7CC1CA;
$dark-primary  : #6BAFB9;
$alt-primary   : #8FD0DA;
$dark-blue     : #365D6F;

$positive      : #3FC380;
$negative      : #F18467;
$caution       : #f9d372;
